{% extends 'base.html' %}
{% block title %}home{% endblock %}
{% block content %}
<div class="container-fluid custom-bg-color">
    <div class="text-center">
        <h1 class="contact-text" style="font-size: 16px;" >Please contact us at fromscraptowrap@gmail.com</h1>
    </div>
    <div class="d-flex justify-content-center">
        <img class="img-fluid custom-image" src="{{ url_for('static', filename='0_4.png') }}" alt="Mail" style="width: 100px; height: auto;">
    </div>
</div>
{% endblock %}

style="font-size: 16px;"