{% extends 'base.html' %}
{% block title %}home{% endblock %}
{% block content %}
<div class="container-fluid custom-bg-color d-flex flex-column justify-content-center align-items-center">
    <div class="text-center mb-4">
        <h1 class="home-text" style="font-size: 12px;" >u·r·b·a·n ∞ g·r·e·e·n ∞ l·i·v·i·n·g ∞ w·o·r·k ∞ s·m·a·r·t ∞ s·o·l·u·t·i·o·n·s ∞ t·h·i·n·k·i·n·g ∞ s·u·s·t·a·i·n·a·b·l·e ∞ h·o·m·e</h1>
    </div>
    <img class="img-fluid" src="{{ url_for('static', filename='0_0.png') }}" alt="u·r·b·a·n ∞ g·r·e·e·n ∞ l·i·v·i·n·g ∞ w·o·r·k ∞ s·m·a·r·t ∞ s·o·l·u·t·i·o·n·s ∞ t·h·i·n·k·i·n·g ∞ s·u·s·t·a·i·n·a·b·l·e ∞ h·o·m·e">
</div>
{% endblock %}

